.header{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background: none;
    position: absolute;
    top: 0;
    width: 100%;
}
a{
    color: black;
    padding: 5px 8px 5px 8px ;
}
a:hover{
    background-color: black;
    opacity: 0.50;
    color: white;
    transition: 200ms;
}
@media (max-width:768px){
    .header-center{
        display: none;
    }
    #active{
        background-color: black;
        opacity: 0.50;
        color: white;
    }
}
