*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family:'iCiel-Medium', sans-serif;
}
a{
  text-decoration: none;
}
button{
  border: none;
}

/* @font-face{
    font-family: iCiel-Medium;
    src: local("iCiel-Medium"), url('./fonts/iCiel-Medium.ttf') format('truetype');
    font-weight:lighter
} */

.app-itemsContainer{
  scroll-snap-type: y mandatory;
  overflow: auto;
  height: 100vh;
}